@font-face {
  font-family: Noto;
  src: url(src/fonts/Noto_Serif_Lao/static/NotoSerifLao/NotoSerifLao-SemiBold.ttf);
}

.navbar {
  margin-bottom: 20px;
}

a.navbar-brand.logo {
  font-family: Noto;
  font-size: 2em;
  transition: 0.5s;
  color: #fff;
}

a.navbar-brand.logo:hover {
  color: #aeaeae;
  text-decoration: none;
  transition: 0.3s;
}